* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilização do body com tema escuro */
body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #121212;
  color: #e0e0e0;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 1;

  padding: 10px 20px;

  background-color: #1f1f1f;
}

.home-header img {
  width: 50px;
}

button {
  display: flex;
  background-color: #303030;
  color: #e0e0e0;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #424242;
}

/* Ícone dentro do botão */
button span.material-symbols-outlined {
  font-size: 24px;
}

/* Input de busca */
input[type="search"] {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 1px solid #424242;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="search"]:focus {
  border-color: #bb86fc;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.page {
  background-color: #1f1f1f;
}

.model-select article {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;

  padding: 15px;
}

.model-select article h2 {
  color: #bb86fc;
}

.model-select article > div {
  display: flex;
  flex-direction: row;
  gap: 15px;

  padding: 10px;

  background-color: #2c2c2c;
  border-radius: 5px;

  overflow-x: auto;
}

.model-select article > div::-webkit-scrollbar {
  height: 1px;
}

.model-select article > div::-webkit-scrollbar-track {
  background: #ffffff33;
  border-radius: 10px;
}

.model-select article > div::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  padding: 10px;

  background-color: #ffffff50;
  border-radius: 20px;
}

.model-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.model-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.model-icon span {
  font-size: 0.8rem;
}

/*----------------------------------------------------------------------------*/

.model-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.model-page header {
  display: flex;
  align-items: center;
  flex: 0 1;
  gap: 10px;

  padding: 15px;

  background-color: #1f1f1f;
}

.model-page header img {
  width: 150px;

  border: 2px solid #bb86fc;
  border-radius: 50%;
}

.model-page header div {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 5px;
}

.overflow {
  position: relative;

  display: flex;
  flex: 1;

  overflow-y: scroll;
}

.overflow::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.overflow::-webkit-scrollbar-track {
  background: #ffffff33;
  border-radius: 10px;
}

.overflow::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  padding: 10px;

  background-color: #ffffff50;
  border-radius: 20px;
}

.model-images {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  padding: 0px 10px 10px 10px;
}

.model-images div {
  width: 105px;
  height: 105px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 5px;

  cursor: pointer;
}

.show-image {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100vw;
  max-width: 840px;
  height: 100vh;

  background: none;

  backdrop-filter: blur(2px);
}

.show-image div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}


.show-image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  width: auto;
  height: auto;
}
